a {
    color: $color-grey-dark;
    text-decoration: none;
    @include transition(color, 0.2s, ease-in, 0s);

    &:hover, &:focus {
        color: $color-grey-dark;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}