.c-footer {
    @include make-row();
    background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
    border-top: 1px solid $color-grey-light;
    color: $color-grey-medium;
    padding-top: 20px;

    .imh-container {
        padding: 0;
        top: 0;
    }
}

.c-footer__column {
    border-right: 1px dotted $color-grey-lighter;
    text-align: left;
    vertical-align: top;
    display: table-cell;
    float: none;
}

.c-footer__head {
    font-family: 'ralewaysemibold', sans-serif;
    font-weight: normal;
    margin: 5px 0 15px;
    font-size: $thirteenpx;
}

.c-footer__column--last {
    border: none;
}

.c-footer__column--extraspace {
    padding-left: 40px;
}

.c-footer__wrap {
    padding: 7px 0;
}

.c-footer__link {
    color: $color-grey-medium;
    white-space: nowrap;
    line-height: initial;
    display: inline-block;
    padding: 6px 0;
}

.c-footer__link--social {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
    font-size: 20px;
    color: $color-grey-dark;
    width: 18px;

    &:hover {
        color: black;
    }
}

.c-footer__language {
    text-align: center;
}

.c-footer__follow {
    text-align: center;
}

.c-footer__powered {
    text-align: center;

    a {
        display: block;
    }
}

.icon--symfony {
    width: 100%;
    height: 55px;
    fill: $color-grey-dark;
    @include transition(fill .2s ease-in 0s);

    &:hover {
        fill: black;
    }
}

.c-footer__rights {
    font-family: 'ralewayregular', sans-serif;
    display: block;
    font-size: $tenpx;
    margin: 20px 0 15px;

    span {
        font-size: $fourteenpx;
    }

    br {
        display: none;
    }
}

// Media queries
// ==================================================

@media (max-width: $screen-xs-max) {
    .c-footer {
        color: white;
        border-top: none;
        background: black;
        padding-top: 15px;

        .imh-container {
            padding: 0;
        }
    }

    .c-footer__column {
        margin-top: 10px;
        display: block;
        float: left;
        border-right-color: $color-grey-medium;
    }

    .c-footer__follow,
    .c-footer__powered {
        text-align: center;
    }

    .c-footer__follow .c-footer__link--social {
        color: white;

        &:first-child {
            margin-left: 0;
        }
    }

    .c-footer__head {
        margin-bottom: 0;
    }

    .icon--symfony {
        height: 47px;
        fill: black;
        @include transition(none);

        &:hover {
            fill: black;
        }
    }

    .c-footer__rights {
        margin: 0 0 15px;
        color: $color-grey-medium;

        br {
            display: inline;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .c-footer__follow {
        border: none;
    }
}