.imh-header {
  @include make-row();
}

.imh__navigation {
  touch-action: none;
  background: url("/bundles/imhbase/images/header-bg.png") repeat rgba(255, 208, 247, 0.04);
  border-bottom: 1px solid $color-grey-light;
  border-top: 1px solid white;
  height: 126px;

  .imh-container {
    top: 27px;
    margin: 0 auto;
    z-index: 2;
  }

  .fa {
    position: relative;
    top: -2px;
    vertical-align: middle;

    & + span {
      display: none;
    }
  }
}

.imh__navigation-main {
  @include make-row();
  border-top: 1px solid $color-grey-darker;
  border-bottom: 1px solid $color-grey-darker;
  background: $color-grey-darker;
  text-align: center;

  li {
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 -1px -2px 0;
    height: 64px;
    z-index: 1;

    a, span {
      color: white;
      font-size: $fourteenpx;
      display: block;
      padding: 0 20px;
      text-transform: uppercase;
      line-height: 64px;
    }

    span {
      height: 62px;
    }

    a {
      border: 1px solid rgba(0, 0, 0, 0);
      @include transition(all, 0.1s, ease-in, 0s);
      height: 64px;

      &:hover {
        background-color: white;
        color: $color-grey-darker;
        border: 1px solid $color-grey-darker;
      }
    }

    &.current {
      background-color: white;
      border: 1px solid $color-grey-darker;
      border-bottom: none;

      a {
        border: none;
      }

      a, span {
        color: $color-grey-darker;
        border-bottom-color: white;
      }
    }
  }
}

.globe, .audio, .hamburger { display: none; }

// Media queries
// ==================================================

@media (max-width: $screen-sm-max) {
  .imh__navigation {
    background: rgb(0, 0, 0) !important;
    background: rgba(0, 0, 0, .95) !important;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    margin-top: 59px;
    z-index: 2;
    visibility: hidden;
    @include opacity(0);
    @include transition(opacity .5s ease-in, visibility .5s ease-in);

    &.is-visible {
      @include opacity(1);
      visibility: visible;
      z-index: 3;
      /*& + .hamburger-wrapper { border-bottom: 1px solid $color-grey-dark; }*/
    }

    .imh-container {
      top: -30px;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .imh-container {
    top: 0;
  }

  .imh__navigation-main {
    background: none;
    border: none;

    li {
      display: block;
      top: 0;
      position: static;
      height: inherit;
      z-index: inherit;
      margin: 0 0 7px;

      &.current {
        border: none;
        background: none;
        a, span {
          color: white;
          border: 1px solid $color-grey-dark;
          background: black;
        }
      }

      a {
        transition: none;
        &:hover { border: none; }
      }

      a, span {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        max-width: 150px;
        width: 100%;
      }
    }
  }

  .globe {
    padding: 12px 15px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;

    .fa {
      vertical-align: middle;
    }
  }

  .audio {
    display: inline-block;
    vertical-align: middle;
  }

  .audio--play {
    display: none;
  }

  .hamburger-wrapper {
    background: black;
    background: rgba(0, 0, 0, .97);
    border-bottom: 1px solid $color-grey-darker;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 3;
    top: -60px;
    left: 0;
    @include transition(top .7s cubic-bezier(0,.92,.08,1) .2s, opacity 1s linear 0s);
    @include opacity(0);
  }

  .hamburger-wrapper.is-visible {
    @include opacity(1);
    top: 0;
  }

  .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 18px 15px;

    &:hover { @include opacity(1); }
  }

  .hamburger-label {
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 1px 7px 0 7px;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  .hamburger-box {
    width: 35px;
    vertical-align: middle;
  }

  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    @include border-radius(0);
    width: 35px;
  }
}