$font-stack:             'ethos_regular';
$font-fallback:          Georgia, "Times New Roman", Times, serif;
$font-stack-size:        12px;

$ninepx:                 0.750em;
$tenpx:                  0.833em;
$elevenpx:               0.917em;
$basepx:                 1em;
$thirteenpx:             1.083em;
$fourteenpx:             1.167em;
$fifteenpx:              1.250em;
$sixteenpx:              1.333em;
$eighteenpx:             1.500em;
$twentypx:               1.667em;
$twentytwopx:            1.833em;
$twentyeightpx:          2.333em;
$thirtypx:               2.500em;
$fourtypx:               3.333em;
$sixtyfourpx:            5.333em;

$color-pink-light:       #FBF8FC;

$color-grey-extremlight: #FCFCFC;
$color-grey-ultralight:  #F5F5F5;
$color-grey-lighter:     #DDDDDD;
$color-grey-light:       #D3D3D3;
$color-grey-medium:      #898989;
$color-grey-dark:        #3F3F3F;
$color-grey-darker:      #222222;

$color-brown-light:      #B18F5C;
$color-brown-dark:       #582411;
$color-greybrown-dark:   #453531;
