<div class="c-device-orientation-change">
    <div class="c-device-orientation-change__rotate">
        <div class="c-device-orientation-change__icon-rotate-wrapper">
            <svg class="c-device-orientation-change__icon-rotate / icon icon--rotate"><use xlink:href="#svg-rotate"></use></svg>
        </div>
        <div class="c-device-orientation-change__icon-device-wrapper">
            <svg class="c-device-orientation-change__icon-device / icon icon--device"><use xlink:href="#svg-device"></use></svg>
        </div>
    </div>
</div>