<header class="c-intro-header">
    <div class="c-intro-header__inside">
        <h1 class="helper-size-large c-intro-header__firstname">Ionella
            <strong class="c-intro-header__lastname"> Marinutsa</strong>
        </h1>
        <div class="o-vertical-interval-bottom-small"></div>
        <h4 class="helper-size-medium c-intro-header__sub-title">{{ ('imh.base.home.website')|trans }}</h4>
    </div>
</header>