<div class="c-mouse">
    <p class="c-mouse__info">
        {% block description 'Scroll' %}
    </p>
    <a href="" title="Enter Website" data-next>
        <div class="c-mouse__elt c-mouse__elt--end"></div>
        <div class="c-mouse__elt c-mouse__elt--center"></div>
        <div class="c-mouse__elt c-mouse__elt--end c-mouse__elt--end-b"></div>
        <i class="c-mouse__icon / fa fa-angle-down" aria-hidden="true"></i>
    </a>
</div>