<h2 class="c-title-secondary {{ titleSecondary.modifierClasses|default }}">
    <span class="c-title-secondary__inside {{ titleSecondaryInside.modifierClasses|default }}">
        {% block title '' %}
    </span>
</h2>