.c-field-button {
  font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: $color-grey-darker;
  color: white;
  border: 1px solid $color-grey-darker;
  padding: 0.9rem 2.4rem;
  transition: all 0.2s ease-in 0s;
  width: 100%;
  letter-spacing: 0.1em;

  &:hover {
    background-color: $color-grey-dark;
    border-color: $color-grey-dark;
  }
}

@media (min-width: $screen-sm-min) {

  .c-field-button {
    width: auto
  }
}

.c-field-button--big {
  padding: 1.5rem 4rem;
  transition: all 0.2s ease-in 0s;
  letter-spacing: 0.1em;

  &:hover {
    background-color: $color-grey-dark;
    border-color: $color-grey-dark;
  }
}
