.c-field-label {
  font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  display: block;
  color: $color-grey-dark;
  vertical-align: middle;
  margin-bottom: 1rem;
  font-weight: normal;
}