parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ruby.bin:          /usr/bin/ruby
    compass.bin:       /usr/local/bin/compass
    sass.bin:          /usr/local/bin/sass

    contact_email:     ~