@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin box-sizing($property) {
  -webkit-box-sizing: $property;
  -moz-box-sizing: $property;
  box-sizing: $property;
}

@mixin opacity($alphavalue) {
  opacity: $alphavalue; /* Good browsers */
  -moz-opacity: $alphavalue; /* Netscape */
  -khtml-opacity: $alphavalue; /* Safari 1.x */
  filter: alpha(opacity=($alphavalue*100)); /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $alphavalue*100 + ")"; /* IE 8 */
}

/*@mixin transition($property, $duration, $timing-function, $delay) {
  -webkit-transition: $property $duration $timing-function $delay;
  -moz-transition: $property $duration $timing-function $delay;
  -o-transition: $property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}*/

@mixin transform($transform-function) {
  -webkit-transform: $transform-function;
  -moz-transform: $transform-function;
  -o-transform: $transform-function;
  transform: $transform-function;
}

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -khtml-transform-origin: $value;
  -moz-transform-origin: $value;
  -ms-transform-origin: $value;
  transform-origin: $value;
}

@mixin saturation($grayscale) {
  -webkit-filter: grayscale($grayscale);
  -moz-filter: grayscale($grayscale);
  -ms-filter: grayscale($grayscale);
  -o-filter: grayscale($grayscale);
  filter: grayscale($grayscale);
}

@mixin rotate($degree) {
  -moz-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  -o-transform: rotate($degree);
  -ms-transform: rotate($degree);
}

//@mixin saturation($value) {
//  -webkit-filter: #{"grayscale(#{$value})"};
//  -moz-filter: #{"grayscale(#{$value})"};
//  filter:#{"grayscale(#{$value})"};
//}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

///* ========================================================================
//   # Clearfix
//   ======================================================================== */

// Mixin to drop micro clearfix into a selector. Further reading:
// http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
//
// .usage {
//   @include imh-clearfix();
// }
@mixin imh-clearfix() {

  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }
}

/* ========================================================================
   # Font-size
   # Generate a font-size and baseline-compatible line-height.
   ======================================================================== */

@mixin imh-font-size($font-size, $line-height: auto, $important: false) {

  @if ($important == true) {
    $important: !important;
  } @elseif ($important == false) {
    $important: null;
  } @else {
    @error "'#{$important}' needs to be 'true' or 'false'."
  }

  font-size: $font-size $important;

  @if ($line-height == 'auto') {
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size) $important;
  }

  @else {

    @if (type-of($line-height) == number or $line-height == 'inherit' or $line-height == 'normal') {
      line-height: $line-height $important;
    }

    @elseif ($line-height != 'none' and $line-height != false) {
      @error "D'oh! '#{$line-height}' is not a valid value for '$line-height'."
    }
  }
}

/* ========================================================================
   # Font-face
   ======================================================================== */

@mixin imh-font-face($font-family, $file-path, $font-weight: normal, $font-style: normal, $font-stretch: normal)
{
  @font-face
  {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff2') format('woff2'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0)
  {
    @font-face
    {
      font-family: $font-family;

      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

/* ========================================================================
   # Font
   ======================================================================== */

@mixin imh-font($weight: normal, $size: 14px, $lineHeight: $base-line-height-unitless) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

/* ========================================================================
   # Responsive image
   # Keep images from scaling beyond the width of their parents.
   ======================================================================== */

@mixin imh-responsive-image($display: block) {
  display: $display;
  max-width: 100%; // Set a maximum relative to the parent
  height: auto; // Scale the height according to the width, otherwise you get stretching
}