{% block loader %}
    {% spaceless %}
    <div class="imh-loader">
        <div class="imh__shutter">
            <div class="imh-opening-col">
                <div class="imh-opening-shutter" data-shutter></div>
                <div class="imh-opening-shutter" data-shutter></div>
            </div>
            <div class="imh-opening-col imh-opening-col--last">
                <div class="imh-opening-shutter" data-shutter></div>
                <div class="imh-opening-shutter" data-shutter></div>
            </div>
        </div>

        <div class="imh__opening" data-opening>
            <div class="imh-progress" data-progress>
                <div class="imh-progress-bar" data-progress-bar></div>
                <p class="imh-progress-counter" data-progress-counter>0 %</p>
            </div>

            {% block intro %}
                <div class="imh-intro">
                    <hgroup class="imh-intro-heading-group">
                        <h1 class="imh-intro-title helper-size-large">Ionella<strong class="imh-title-strong"> Marinutsa</strong></h1>
                        <h4 class="imh-intro-subtitle helper-size-medium">{{ ('imh.base.home.website')|trans }}</h4>
                    </hgroup>
                </div>
                {% include 'ImhBaseBundle:Components:mouse.html.twig' %}
            {% endblock %}
        </div>
    </div>
    {% endspaceless %}
{% endblock %}