$fa-font-path: "/bundles/imhbase/bower_components/fontawesome/fonts";
@import "../app";

.flashbag-message {
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.flashbag-message-content {
  @include transform(translate(-50%, -50%));
  @include border-radius(4px);
  @include box-shadow(0, 0, 15px, 3px, $color-grey-dark);
  background-color: white;
  position: absolute;
  min-height: 200px;
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;

  .top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid $color-grey-medium;
    background-color: $color-grey-lighter;
    padding: 18px 20px;

    > p {
      margin: 0;
      font-size: $fourteenpx;
      text-transform: uppercase;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .msg {
    margin: 23px 0;
    padding: 0 20px;
    font-size: $fourteenpx;
  }
}

.imh-container--wrapper {
  padding-bottom: 60px;
}

// Media queries
// ==================================================

@media (min-width: $screen-sm-min) {

  .imh-container--wrapper {
    padding: 30px 60px 0;
  }

  .imh__contact-form {
    //background: url("/bundles/imhbase/images/stripes.png");

  }

}