<ul class="imh-lang__list">
    {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
    {% for i in range(0,2) -%}
        {% set allParams = params|merge({'_locale': ('imh.base.menu_lang.'~i~'.locale')|trans}) %}
        <li class="imh-lang__item {% if app.request.attributes.get('_locale') == ('imh.base.menu_lang.'~i~'.locale')|trans %}current{% endif %}">
            <a class="imh-lang__link" href="{{ path(app.request.attributes.get('_route'), allParams) }}" title="{{ ('imh.base.menu_lang.'~i~'.title')|trans }}">{{ ('imh.base.menu_lang.'~i~'.t_locale')|trans }}</a>
        </li>
    {%- endfor %}
</ul>
