$fa-font-path: "/bundles/imhbase/bower_components/fontawesome/fonts";

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .imh-block-events__figcaption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.imh-events {
    @include clearfix();
    padding-top: 120px;
    height: 100%;
}

.imh-block-events {
    margin-top: 75px;
    @include clearfix();
}

.imh-block-events__item {
    position: relative;
    margin-bottom: 30px;

    &:not(:first-child) { // remove this !!!!!!!!!!!!!!
        display: none;
    }
}

.imh-block-events__date {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    top: 0;
    @include translate(-50%, -50%);
    background-color: $color-grey-ultralight;
    z-index: 10;
    @include border-radius(50%);
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        background-color: $color-grey-medium;
        height: 1px;
        width: 46px;
        left: 50%;
        top: 70%;
        margin-left: -23px;
    }
}

.imh-block-events__infos {
    padding-top: 1.5em;
}

.imh-block-events__month {
    font-family: RalewayLight, sans-serif;
    font-size: $fourteenpx;
    line-height: 1em;
    margin: 0;
}

.imh-block-events__day {
    font-size: 70px;
    font-family: Knockout, sans-serif;
    margin: 0;
    line-height: 68px;
}

.imh-block-events__time {
    font-family: Knockout, sans-serif;
    font-size: $twentytwopx;
    line-height: 30px;
}

.imh-block-events__wrap {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.imh-block-events__figure {
    @include aspect-ratio(1, 1);
    background: linear-gradient(45deg, #b60006 0%, $color-brown-dark 40%, $color-grey-dark 100%);

    &:hover {
        .imh-block-events__image {
            @include opacity(0.5);
        }

        .imh-block-events__title {
            transform: translate3d(0,0,0);

            &:before {
                @include opacity(0);
            }
        }

        .imh-block-events__figcaption {
            background-color: rgba(58, 52, 42, 0);

            &:before {
                background: $color-grey-darker;
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

// if no Event available
.imh-block-events__figure--empty {
    background: $color-grey-ultralight;
    pointer-events: none;
}

.imh-block-events__figcaption:before,
.imh-block-events__description,
.imh-block-events__composer-list,
.imh-block-events__more {
    @include opacity(0);
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0);
}

.imh-block-events__figure:hover .imh-block-events__figcaption:before,
.imh-block-events__figure:hover .imh-block-events__description,
.imh-block-events__figure:hover .imh-block-events__composer-list,
.imh-block-events__figure:hover .imh-block-events__more {
    @include opacity(1);
    transform: scale(1);
}

.imh-block-events__image {
    position: absolute;
    top: 0;
    left: 0;
    @include opacity(0.9);
    transition: opacity 0.35s;
    max-width: 100%;
    height: auto;
}

.imh-block-events__figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.1);
    transition: background-color 0.35s;
    color: white;
    font-size: 1.25em;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:before {
        content: '';
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        border: 1px solid #fff;
    }
}

.imh-block-events__more {
    font-family: Knockout, sans-serif;
    color: $color-grey-darker;
    font-size: $thirteenpx;
    background-color: white;
    padding: 0.5em 1em;
    position: absolute;
    bottom: 3em;
    right: 3em;
    letter-spacing: 0.04em;
}

.imh-block-events__title {
    font-family: RalewayRegular, sans-serif;
    margin: 4em 0 1.2em;
    @include transition(all 0.35s);
    transform: translate3d(0, 15px, 0);
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: $fifteenpx;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        height: calc(100% + 30px);
        width: calc(100% + 30px);
        background: $color-grey-darker;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
        left: -15px;
        top: -15px;
        @include transition(opacity 0.35s);
        @include opacity(1);
    }
}

.imh-block-events__title-lower {
    font-family: RalewayLight, sans-serif;
    text-transform: lowercase;
}

.imh-block-events__title-emphased {
    font-family: RalewaySemibold, sans-serif;
    display: inline-block;
    margin-top: 0.2em;
    line-height: 1.2em;
}

.imh-block-events__description {
    font-family: RalewayRegular, sans-serif;
    font-size: $basepx;
}

.imh-block-events__description--small {
    font-family: RalewayRegular, sans-serif;
    font-size: $base-font-size-xx-small;
}

.imh-block-events__composer-list {
    font-family: RalewaySemiboldItalic, sans-serif;
    margin-top: 1em;
    font-size: $thirteenpx;
}

.imh-block-events__composer-item {
    list-style: none;
    display: inline;

    &:after {
        content: " \2022\ ";
    }

    &:last-child:after {
        content: none;
    }
}

// Media queries
// ==================================================

@media (min-width: $screen-sm-min) {

    .imh-topcartridge__sub-title {
        font-size: $sixteenpx;
        margin-top: 30px;
    }

    .imh-block-events {
        margin-top: 150px;
        padding-top: 50px;
    }

    .imh-block-events__item {
        &:not(:first-child) { // remove this !!!!!!!!!!!!!!
            display: block;
        }
    }

    .imh-block-events__title {
        margin: 0.5em 0 1.2em;
    }

    .imh-block-events__date {
        &:before {
            top: 65%;
        }
    }

    .imh-block-events__infos {
        padding-top: 0.8em;
    }

    .imh-block-events__month {
        line-height: 1.7em;
    }

    .imh-block-events__time {
        line-height: 50px;
    }

    .imh-block-events__more {

    }
}

@media (min-width: $screen-md-min) {

    .imh-block-events__date {
        width: 160px;
        height: 160px;
        top: -60px;
    }
}
